.container
  padding: 20px

.wrap
  max-width: 1000px
  margin: 0 auto

.form
  display: flex
  width: 100%

.address-input
  flex: 1
  margin-right: 15px

  input
    font-size: 20px

.view-btn
  width: 100px
  height: 57px
