@import "bootstrap.sass"

.content
  padding: 50px 25px

.container
  max-width: 1000px
  width: 100%
  margin: 0 auto

.metadata-form
  width: 95%
  max-width: 514px
  margin: 0 auto
  padding: 25px 0

.full-width
  width: 100%

.center
  text-align: center

.delete-btn
  margin-bottom: 22px

.btns
  width: 95%
  max-width: 514px
  margin: 0 auto

.next-btn
  float: right
